{% extends "base.html.twig" %}

{% block title %}
	{{pageTitle}}
{% endblock %}

{% block body %}
	
		<h1>{{pageTitle}}</h1>
		<br>
		<img src="{{asset('img/airmax.jpg' )}}" alt="mon image"/>
		<p style="font-weight : 600; line-height:5em">Sous-titre</p>
		<p>-----------------------------------</p>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae perspiciatis quasi velit enim earum tempora, rerum necessitatibus asperiores facilis odio molestias libero ullam nulla veniam modi accusamus repellendus. Obcaecati omnis minus reiciendis velit, quidem soluta eos quaerat delectus fuga voluptatum officiis. Porro itaque harum maxime odit ipsa excepturi, unde necessitatibus, quam, in voluptas amet. Temporibus recusandae praesentium quos nihil accusamus nostrum corrupti distinctio illo harum. Fuga nostrum consequuntur perferendis veritatis optio, quia praesentium, sapiente quo dolor fugit at velit natus nemo delectus neque quod ipsa nam facere harum aliquam! Officia exercitationem voluptate praesentium unde dolorum incidunt aliquid architecto tempore, minima, dolorem iusto corporis voluptatum perferendis at. Laborum autem voluptate corporis vitae iusto iure modi a voluptatum natus cumque voluptates rem ab magnam, fugit tenetur itaque atque in, soluta rerum sapiente repellat! Totam cupiditate, esse dolor beatae quasi fugiat repellat optio et. Adipisci, labore! Nisi impedit, excepturi sed commodi saepe iste!
		</p>


	
{% endblock %}